@{
    var culture = CultureInfo.CurrentCulture.Name;
}
@model List<ProjectWeb.Models.Categories.CategoryViewModel>
@inject LazZiya.ExpressLocalization.ISharedCultureLocalizer _loc;


<main>
    <div class="container-fluid">
        <div class="row">
            <div class="col p-0">
                <nav class="navbar navbar-expand-sm navbar-light">
                    <div class="collapse navbar-collapse" id="collapsibleNavId">
                        <ul class="pl-0 mr-auto mt-2 mt-lg-0 m-mb">
                            <li class="nav-item">
                                <a class="nav-link" href="/@culture">Home</a>
                            </li>
                            <li class="nav-item">
                                <a href="/@culture" class="nav-link">
                                    <localize>@ConstantsDisplay.ECW_Layout_Shop</localize> <i class="fa fa-caret-down"></i>
                                </a>

                                <ul>
                                    <li class="w-100">
                                        <div class="container-fluid my-3 px-5">
                                            <div class="row">
                                                @{
                                                    var CategoryParentNode = Model.Where(x => x.ParentID == null);
                                                }
                                                @foreach (var parentNode in CategoryParentNode)
                                                {
                                                    <div class="col-sm-3">
                                                        @{
                                                            var categoryChildNode = Model.Where(x => x.ParentID == parentNode.ID);
                                                            if (categoryChildNode.Any())
                                                            {

                                                                <ul>
                                                                    <li class="active">
                                                                        <a href="/@culture/@_loc[ConstantsDisplay.ECW_SystemURL_Categories]/@parentNode.ID">@parentNode.CategoryName</a>
                                                                    </li>

                                                                    @foreach (var childNode in categoryChildNode)
                                                                    {
                                                                        <li>
                                                                            <a href="/@culture/@_loc[ConstantsDisplay.ECW_SystemURL_Categories]/@childNode.ID">@childNode.CategoryName</a>
                                                                        </li>
                                                                    }
                                                                </ul>

                                                            }
                                                        }
                                                    </div>
                                                }

                                                <div class="col-sm-3">
                                                    <a href="products.html">
                                                        <div class="images">
                                                            <img class="w-100"
                                                                 src="/data/smoothie_of_the_week_448a27e5-f0c0-4453-a988-0bdd0812661a_300x.png"
                                                                 alt="" />
                                                        </div>
                                                        <div class="title text-center mt-1">
                                                            <h5 class="font-weight-bold">
                                                                Smoothie of the week
                                                            </h5>
                                                        </div>
                                                        <div class="content text-center">
                                                            50% off until midnight Sunday
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="blogs.html">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="faqs.html">FAQs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="contact.html">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Theme Features</a>
                            </li>
                        </ul>
                        @*<ul class="pl-0 mr-auto mt-2 mt-lg-0 w-25">
                            <li class="nav-item">
                                <a class="nav-link" href="\">E-Commerce Website</a>
                            </li>
                        </ul>*@
                        <div class="menu-right mt-2 mt-lg-0">
                            <ul class="pl-0">

                                <li class="nav-item">
                                    <a class="nav-link search-pc" href="#" id="btnSearchNavbar">
                                        <i class="fa fa-search fa-lg"></i> Search
                                    </a>



                                    @await Component.InvokeAsync("SearchTool")


                                </li>

                                <li class="nav-item">
                                    <a class="nav-link cart-pc" href="javascript:void(0)" id="showcart">
                                        <i class="fa fa-shopping-cart fa-lg"></i> Cart - <span id="totalInCart"></span>
                                    </a>

                                    
                                    @await Component.InvokeAsync("Cart")



                                </li>


                                <li class="nav-item">
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <a class="nav-link" href="/@culture/Account/Profile"><i class="fa fa-user fa-lg"></i> @User.Identity.Name</a>
                                    }
                                    else
                                    {
                                        <a class="nav-link" href="/@culture/Account/Login"><i class="fa fa-user fa-lg"></i> Login</a>
                                    }
                                </li>

                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" href="/@culture/Account/Logout">Logout</a>  
                                    </li>

                                }




                            </ul>
                        </div>
                    </div>
                    <div class="menu-mobile">
                        <ul class="mr-auto mt-2 mt-lg-0">
                            <li class="nav-item">
                                <a href="" class="nav-link openHome">
                                    <i class="fa fa-bars fa-2x"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link logo" href="#">
                                    Logo
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="nav-link cart-mobile">
                                    <i class="fa fa-shopping-cart fa-2x">
                                        <span>2</span>
                                    </i>
                                </a>
                                <div class="form-modal">
                                    <div class="bg-modal"></div>
                                    <div class="box-cart">
                                        <div class="title text-center">
                                            <h3>
                                                <strong>Shopping Cart</strong>
                                            </h3>
                                        </div>
                                        <div class="content">
                                            <div class="container-fluid">
                                                <div class="row cart">
                                                    <div class="col-sm-3">
                                                        <img src="/data/pineapple_mango_front_900x.webp"
                                                             alt=""
                                                             class="w-100 h-100 p-1" />
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="title-product">
                                                            <a href="products.html">Pineapple & Mango</a>
                                                        </div>
                                                        <div class="ml">330ml</div>
                                                        <div class="price">$5.98</div>
                                                        <div class="quantity">
                                                            <div class="form-group">
                                                                <input type="number"
                                                                       value="1"
                                                                       min="1"
                                                                       max="1000"
                                                                       step="1" />
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="closed-sm p-0">
                                                        <i class="fa fa-times fa-1x"
                                                           aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                                <div class="row cart">
                                                    <div class="col-sm-3">
                                                        <img src="/data/pineapple_mango_front_900x.webp"
                                                             alt=""
                                                             class="w-100 h-100 p-1" />
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="title-product">
                                                            <a href="products.html">Pineapple & Mango</a>
                                                        </div>
                                                        <div class="ml">330ml</div>
                                                        <div class="price">$5.98</div>
                                                        <div class="quantity">
                                                            <div class="form-group">
                                                                <input type="number"
                                                                       value="1"
                                                                       min="1"
                                                                       max="1000"
                                                                       step="1" />
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="closed-sm p-0">
                                                        <i class="fa fa-times fa-1x"
                                                           aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="total text-center">
                                            <p>SUBTOTAL</p>
                                            <span class="price"> $11.96</span>
                                            <div class="content">
                                                Tax included and shipping calculated at checkout
                                            </div>
                                            <div class="button">
                                                <button class="btn btn-dark rounded-0">
                                                    Check Out
                                                </button>
                                            </div>
                                        </div>
                                        <div class="closed">
                                            <i class="fa fa-times fa-lg" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</main>


