

<section class="product-reviews mt-5">
    <div class="container-fluid">
        <div class="row content mb-5">
            <div class="col text-center">
                <div class="title">
                    <h2>
                        Product reviews
                    </h2>
                </div>
            </div>
        </div>
        <div id="divReview">
            <div class="row title p-4">
                <div class="col-sm-6">
                    <span class="star">
                        <i class="fa fa-star fa-lg"></i>
                        <i class="fa fa-star fa-lg"></i>
                        <i class="fa fa-star fa-lg"></i>
                        <i class="fa fa-star fa-lg"></i>
                        <i class="fa fa-star fa-lg"></i>
                    </span>
                    <span class="text">
                        &nbsp; Based on 5 reviews
                    </span>
                </div>
                <div class="col-sm-6 text-right">
                    <span class="write">
                        <a href=""> Write a review </a>
                    </span>
                </div>
            </div>
            <div class="row review  p-4">
                <span class="line"></span>
                <div class="col-12">
                    <div class="title">
                        <h3>
                            Write a review
                        </h3>
                    </div>
                    <div class="content">
                        <form>
                            @*<div class="form-group">
                            <label for="exampleFormControlInput1">Name</label>
                            <input type="text" class="form-control rounded-0" id="exampleFormControlInput1"
                                   placeholder="Enter your name">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Email</label>
                            <input type="email" class="form-control rounded-0" id="exampleFormControlInput1"
                                   placeholder="john.smith@example.com">
                        </div>*@
                            <div class="form-group text-center">
                                <label for="exampleFormControlInput1">Rating</label>

                                <div class="star">
                                    <div class="rating m-auto" data-rate-value=2.5></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Review Title</label>
                                <input type="text" class="form-control rounded-0" id="txtTitleReview"
                                       placeholder="Give your review a title">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">
                                    Body of Review (1500) characters
                                    remaining
                                </label>
                                <textarea class="form-control rounded-0" id="txtDetailReview" rows="10"
                                          placeholder="Write your comments here"></textarea>
                            </div>
                            <div class="text-right">
                                <button class="btn btn-dark rounded-0" id="btnSubmitReview">Submit Review</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row comment p-4" style="overflow: auto; height: 500px" id="DivParentReview">

           


        </div>
    </div>
</section>