
<script>

</script>

<div class="form-modal">
    <div class="bg-modal"></div>
    <div class="box-search">
        <div class="title text-center">
            <h3>
                <strong>Search for products on our site</strong>
            </h3>
        </div>
        <div class="input">
            <div class="form-group d-flex">
                <input class="form-control rounded-0"
                       type="text"
                       name=""
                       placeholder="Search our store" id="inputValueSearch"/>
                <button id="btnSearchItems"><i class="fa fa-search"></i></button>
            </div>
        </div>
        <div class="content">
            <div class="title">
                Your search for "a" revealed the following:
            </div>
            
            <div class="products">
                <h2>PRODUCTS</h2>
                <div class="box-products">
                    <div class="container-fluid" id="searchProduct-body">

                        
                   
                    </div>
                </div>
            </div>

@*            <div class="articles">
                <h2>ARTICLES</h2>
                <div class="box-articles mb-3">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-3 pl-0 mb-3">
                                <img src="/data/blog_1_900x.webp"
                                     class="w-100"
                                     alt="" />
                            </div>
                            <div class="col-9">
                                <div class="title-articles">
                                    <h3>
                                        <a href="detail_blogs.html">New bar opened in the Vineyard</a>
                                    </h3>
                                </div>
                                <div class="content">
                                    A blog is a discussion or
                                    informational website published on the
                                    World Wide Web consisting of dis...
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3 pl-0 mb-3">
                                <img src="/data/blog_2_900x.webp"
                                     class="w-100"
                                     alt="" />
                            </div>
                            <div class="col-9">
                                <div class="title-articles">
                                    <h3>
                                        <a href="detail_blogs.html">
                                            Seasonal smoothies: How to nail
                                            them!
                                        </a>
                                    </h3>
                                </div>
                                <div class="content">
                                    Who doesn't love Christmas? Or perhaps
                                    Halloween? Well, we've gathered a
                                    collection of all the be...
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        *@
        
        </div>
        <div class="closed">
            <i class="fa fa-times fa-lg"
               aria-hidden="true"></i>
        </div>
    </div>
</div>