

<div class="form-modal">
    <div class="bg-modal"></div>
    <div class="box-cart">
        <div class="title text-center">
            <h3>
                <strong>Shopping Cart</strong>
            </h3>
        </div>
        <div class="content">
            <div class="container-fluid" id="cart-body">

              
               

            </div>
        </div>
        <div class="total text-center">
            <p>SUBTOTAL</p>
            <span class="price" id="totalPrice"> $0</span>
            <div class="content">
                Tax included and shipping calculated at checkout
            </div>
            <div class="button">
                <button class="btn btn-dark rounded-0">
                    Check Out
                </button>
            </div>
        </div>
        <div class="closed">
            <i class="fa fa-times fa-lg"
               aria-hidden="true"></i>
        </div>
    </div>
</div>
