/* about */
section.box-about .title h1 {
    font-size: 28px;
    width: 100%;
    text-align: center;
    display: inline-block;
    position: relative;
    margin-bottom: 15px;
    letter-spacing: 1px;
    text-transform: normal;
    font-weight: 700;
}

section.box-about .content {
    color: #767676;
}

/* end about */