@model ProductUpdateRequest

@{
    ViewData["Title"] = "Edit - Sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@section Scripts {
    <script src="https://cdn.ckeditor.com/ckeditor5/21.0.0/classic/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#ProductDescription'), {
                // toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
            })
            .then(editor => {
                window.editor = editor;
            })
            .catch(err => {
                console.error(err.stack);
            });
    </script>
}*@

<div class="container-fluid px-4">
    <h1 class="mt-4">Cập nhật sản phẩm</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
        <li class="breadcrumb-item active">Cập nhật sản phẩm</li>
    </ol>

    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-md-8">
                    <form asp-action="Edit" enctype="multipart/form-data" method="post">
                        @* <div asp-validation-summary="All" class="text-danger"></div>*@
                        <input type="hidden" asp-for="ID" />
                        <div class="form-group">
                            <label asp-for="ProductName" class="control-label"></label>
                            <input asp-for="ProductName" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Code" class="control-label"></label>
                            <input asp-for="Code" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label asp-for="CategoryId" class="control-label"></label>
                            <select class="form-control" asp-for="CategoryId" asp-items="@ViewBag.Categories">
                                <option selected>Vui lòng chọn</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <textarea asp-for="Description" class="form-control" id="summernoteEditor"></textarea>
                        </div>
                        <div class="form-group">
                            <label asp-for="Price" class="control-label"></label>
                            <input asp-for="Price" type="number" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="PriceDollar" class="control-label"></label>
                            <input asp-for="PriceDollar" type="number" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Stock" class="control-label"></label>
                            <input asp-for="Stock" class="form-control" />
                        </div>
                        
                        <div class="form-group">
                            <label asp-for="Status" class="control-label"></label>
                            <input asp-for="Status" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label asp-for="Alias" class="control-label"></label>
                            <input asp-for="Alias" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="ThumbnailImage" class="control-label"></label>
                            <input asp-for="ThumbnailImage" type="file" class="form-control" />
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Cập nhật" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@{
    var summernote = new ProjectWeb.AdminApp.Models.SummernoteModel("#summernoteEditor");
    @await Component.InvokeAsync("Summernote", summernote);
}












