@{
    var culture = CultureInfo.CurrentCulture.Name;
}

@inject LazZiya.ExpressLocalization.ISharedCultureLocalizer _loc;



    <section class="products detail mt-5">
        <div class="container-fluid">
            <div class="row content">
                <div class="col text-center">
                    <div class="title">
                        <h2>
                            Recently viewed products
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row product p-4">
                <div class="col">
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <div class="box-product">
                                <div class="out-badge sale">
                                    On Sale
                                </div>
                                <div class="images">
                                    <img src="data/ginger_pear_back_150x_default.jpg" alt="products">
                                    <img src="data/ginger_pear_back_150x.jpg" alt="products">
                                </div>
                                <div class="title">
                                    <a href="http://">
                                        Ginger & Pear
                                    </a>
                                </div>
                                <div class="price">
                                    from Rs. 212.58
                                </div>
                                <div class="star">
                                    <i class="fa  fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                    2 reviews
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="box-product">
                                <div class="images">
                                    <img src="data/ginger_pear_back_150x_default.jpg" alt="products">
                                    <img src="data/ginger_pear_back_150x.jpg" alt="products">
                                </div>
                                <div class="title">
                                    <a href="http://">
                                        Ginger & Pear
                                    </a>
                                </div>
                                <div class="price">
                                    from Rs. 212.58
                                </div>
                                <div class="star">
                                    <i class="fa  fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                    2 reviews
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="box-product">
                                <div class="out-badge">
                                    Sold Out
                                </div>
                                <div class="images">
                                    <img src="data/ginger_pear_back_150x_default.jpg" alt="products">
                                    <img src="data/ginger_pear_back_150x.jpg" alt="products">
                                </div>
                                <div class="title">
                                    <a href="http://">
                                        Ginger & Pear
                                    </a>
                                </div>
                                <div class="price">
                                    from Rs. 212.58
                                </div>
                                <div class="star">
                                    <i class="fa  fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                    2 reviews
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="box-product">
                                <div class="images">
                                    <img src="data/ginger_pear_back_150x_default.jpg" alt="products">
                                    <img src="data/ginger_pear_back_150x.jpg" alt="products">
                                </div>
                                <div class="title">
                                    <a href="http://">
                                        Ginger & Pear
                                    </a>
                                </div>
                                <div class="price">
                                    from Rs. 212.58
                                </div>
                                <div class="star">
                                    <i class="fa  fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                    2 reviews
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="box-product">
                                <div class="images">
                                    <img src="data/ginger_pear_back_150x_default.jpg" alt="products">
                                    <img src="data/ginger_pear_back_150x.jpg" alt="products">
                                </div>
                                <div class="title">
                                    <a href="http://">
                                        Ginger & Pear
                                    </a>
                                </div>
                                <div class="price">
                                    from Rs. 212.58
                                </div>
                                <div class="star">
                                    <i class="fa  fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                    2 reviews
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>